* {
    margin: 0;
    padding: 0;
    color: #E4E6EB;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(19, 17, 17);
}

/* header section */
header {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 39, 39);
    position: fixed;
    /* Ensures the header maintains its height */
}

/* header first part */
header .first {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* logo */
header .first .logo {
    width: 60px;
    height: 50px;
    margin: 20px 0px;
    position: fixed;
    left: 10px;
    cursor: pointer;
}

header .first .logo .image {
    width: 100%;
    height: 100%;
    background-image: url(image/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header .first .search {
    position: relative;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    margin-right: 10px;
    background-color: #343636;
    border-radius: 20px;
}

header .first .search:focus-within {
    box-shadow: 0px 0px 10px blue;
}

header .first .search .icon {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .first .search i {
    font-size: 20px;
    padding: 5px 10px;
}

header .first .search input {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
}

/* header middle part */
header .middle .hover {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

header .middle .hover:hover {
    background-color: #464949;
    box-shadow: 0px 0px 10px blue;
}

header .middle abbr {
    text-decoration: none;
}

header .middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header last part */
header .last {
    width: 70%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

header .last .size {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #464949;
}

header .last .image {
    width: 100%;
    height: 100%;
    background-image: url(image/account.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

header .last .size:hover {
    background-color: #555c5c;
    box-shadow: 0px 0px 10px blue;
}

header .last .account {
    margin-right: 20px;
}

header .last abbr {
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    header .middle {
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
    header .first .search {
        border-radius: 50%;
    }

    header .first .search input {
        display: none;
    }
    header .first .search{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 700px) {

    header .first,
    header .last {
        display: none;
    }

    header {
        width: 100%;
    }

    header.middle {
        width: 100%;
    }

    /* header middle part */
    header .middle .hover {
        width: 100%;
        height: 10px;


    }
}